ul{
  margin: 0;
  padding: 0;
}
.footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
}
.footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer ul li a{
  color: white;
  text-decoration: none;
}

p{
  color: white;
  padding: 20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}