<div class="banner">
    <div class="content">
        <h2>Welcome to Car Rental Website</h2>
        <h5 style="color: cornsilk;">
            Car rental system (CRS) is a web based system for a company that rents out cars. This system enables the company to make their services available to the public through the internet and also keep records about their services.</h5>
        <p>Explore the Transportation World.</p>
            <a routerLink="/clist">View Carlist Information</a>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXqJF34DKmh1JQWtNDRdSO4IxTU7F1SRe5jg&usqp=CAU" class="image">


</div>